@use 'normalize';

$hidden-letter-background-color: #c4c4c4;
$correct-letter-background-color: #86fc88;
$phrase-letter-color: #ffffff;

* {
    box-sizing:border-box;
}

#phrase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
    margin: 20px;
    height: calc(50vh - 20px);
}

#keyboard {
    width: calc(100% - 20px);
    margin: 0 20px;
    button {
        border: none;
        border-radius: 15%;
        width: calc(10% - 2px);
        height: 60px;
        margin: 2px;
    }
}

.word {
    display: flex;
    margin: 0px 20px;
    max-width: 100%;
}

.letter {
    background-color: $hidden-letter-background-color;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    border-radius: 15%;
    color: $phrase-letter-color;
}

.key-row {
    display: flex;
    justify-content: center;
}

